name: "update"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0" # runs weekly on Sunday at 00:00
permissions:
  contents: write
  pull-requests: write
jobs:
  flake-lock:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - run: nix flake update
      - uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "chore(deps): update flake lock"
          title: "chore(deps): update flake lock"
          branch: flake-updates
          delete-branch: true
